

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline-width: 0;
    text-decoration: none;
    list-style: none;
    /* border: 0;  */
    /* font-family: 'Roboto', sans-serif; */ 
 }


:root{
    --background: #ffffff;
    --Azul: #1A3E5A;
    --Amarelo: #E59500;
    --Preto: #000000;
    --BotaoA: rgba(226, 177, 1, 0.24);
    --BotaoP: rgba(2, 4, 15, 0.79);
    --BotaoZ:rgba(28, 94, 121, 0.79);
}


body{
    /* background: linear-gradient(100deg, #091c2c , #004172); */
    
    background: linear-gradient(227.38deg, rgba(0, 72, 128, 0.904) 10.78%, #091C2C 70.8%);
}

.pai div{
    display: none;
}


.body{
    /* background-color: linear-gradient(100deg, #091C2C, #0262ac); */
    opacity: 200rem;
    display: flex; 
    justify-content: center;
    position: relative;
}

.fundo_f{
    background: url(img/backmed.png);

}

.cabecalho{
    display: flex;
}

.logo{
    display: flex;
    justify-content: center;
    height: 5rem ;
    width: 30%;
    background-color: #ffffffd7;
    margin-top: 4%;
    padding-left: 6.5rem;
    
}



body{
    font-family: montserrat;
  }
 
nav{
    margin-top: 4%;
    width: 20%;
    background-color: #ffffffd7;
    height: 5rem;
}
 
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
  }
 
  .checkbtn{
    font-size: 30px;
    color: #1A3E5A;
    float: right;
    line-height: 80px;
    margin-right: 13rem;
    cursor: pointer;
    display: none;
  }

  .checkbtn{
      display: block;
    }  

    #check1{
        display: block;
    }
    
    ul{
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: fixed;
      width: 272px;
      height: 238px;
      background: #143b61;
      margin-right: 11rem;
      top: 6.8rem;
      right: -100%;
      text-align: center;
      
      border-radius: 30px;
    }
    nav ul li{
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 1.1rem;
    }
    a:hover,a.active{
      background: none;
      color:  #ffb732;
    }
    #check:checked ~ ul{
      background-color: #143b61;
      right:0 ;
    }
  
#mic1{
    margin-top: 10rem;
    margin-bottom: -4rem;
}

    /*  */

.menu{
    /* padding-right: 6.5rem; */
    margin-top: 4%;
    width: 55%;
    background-color: #ffffffd7;
    height: 5rem;
    /* position: fixed; */
}




#m{
    color: #1A3E5A;
    background: none;
    margin-top: 1.9rem;
    word-spacing: -30px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
    margin-right: 30px;
    border: 0;
}

.lemenu :hover{
    letter-spacing: 0.6px;
    cursor: pointer;
    color:#ffb732;
}

#icons{
    margin-left: 5%;
    width: 15%;
}

.estrutura{
    padding: 5rem;
    width:30%;
    height: 35rem;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 3%;
    background-repeat: no-repeat;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 12%;
}

.estrutura_cm{
    padding: 5rem;
    width:45%;
    height: 58rem;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 3%;
    background-repeat: no-repeat;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 12%;
    
}



.estd{
    margin-top: -28%;
    margin-bottom: 1%;
    padding: 8%;
    display:flex ;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.estd_cm{
    transition: all 0.3s ease;
    display: flex;
    justify-content: flex-end;
}


#logol{
    margin-bottom: 3rem;
    margin-top: 2rem;
    width: 100%;
}

#logo_cm{
    display: flex;
    padding-right: 4rem;
    padding-bottom: 0.1rem;
    width: 65%;
}

#imgper_cm{
    width: 30%;
}


#h3{ 
    margin-top: -2rem;
    margin-bottom: 0.5rem;
    font-weight: light;
    font-size: 1.1rem;
    width: 100%;
    font-family: "Poppins", sans-serif;
    color: rgba(0, 0, 0, 0.5);
}

 main h2 {
    font-family: Montserrat;
    position: absolute;
    font-weight: bolder;
    font-size: 2.2rem;
    color: #1A3E5A;
    margin-bottom: 5%;
    font-weight: 600;
    margin-bottom: 1rem;
    position: relative;
    margin-top: -18%;
    margin-bottom: 12%;
}

main h2::before {
    content: '';
    position: absolute;
    height: 6%;
    width: 13%;
    bottom: 4%;
    left: 0;
    border-radius: 8px;
    background: linear-gradient(45deg, #e59500, #a76c00);
} 

form {
    transition: all .3s ease-in-out;
    display: flex;
    flex-direction: column;
}

.input-field {
    transition: all .3s ease-in-out;
    outline: none;
    position: relative;
}

form .input-field:first-child {
    margin-bottom: 0.3rem;
}

.input-field .underline::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: -7px;
    left: 0;
    background: #1A3E5A;
}

.input-field .underline::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -7px;
    left: 0;
    background: linear-gradient(45deg, #091C2C, #0262ac);
    transform: scaleX(0);
    transition: all .3s ease-in-out;
    transform-origin: left;
}

.input-field input:focus ~ .underline::after {
    transform: scaleX(1);
}

.input-field input {
    border: 0;
    outline: 0;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

.input-field input::placeholder {
    font-family: "Poppins", sans-serif;
    color: rgba(0, 0, 0, 0.5);
}

form input[type="submit"] {
    margin-top: 2rem;
    padding: 0.7rem;
    width: 100%;
    background: linear-gradient(45deg, #091C2C, #00508d);
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 30px;
    transition: all 0.3s ease;
}

form input[type="submit"]:hover {
    letter-spacing: 0.5px;
    background:  linear-gradient(45deg, #e59500, #a76c00);
    
}
.spa{
    margin-top: 1%;
   
}

.ou{
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: -5%;
    color: #8f8f8f;
}

.linha {
    content: '';
    /* position: absolute; */
    margin-top: 0.4rem;
    height: 2px;
    width: 100%;
    margin-bottom: 1.5rem;
    background: #1A3E5A;
}

.linha_m {
    content: '';
    position: absolute;
    margin-top: 0.4rem;
    height: 2px;
    width: 100%;
    margin-bottom: 1.5rem;
    background: #ffffff;
}

.linha::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -7px;
    left: 0;
    background: linear-gradient(45deg, #091C2C, #0262ac);
    transform: scaleX(0);
    transition: all .3s ease-in-out;
    transform-origin: left;
}



#h4{
    font-family: "Poppins", sans-serif;
    font-weight:bold;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 0.5rem;
}

#select2{
width: 100%;
margin-bottom: 0.8rem;
}

select{
    width: 20%;
    font-family: "Poppins", sans-serif;
    border-radius: 3px;
    border-width: 2px;
    border-color: #1A3E5A;
    font-weight: normal;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.651);
    margin-bottom: 1rem;
    transition: all .3s ease-in-out;
}

#mes{
    width: 40%;
}

#ddd{
    margin-right: 0.3rem;
}
.tele{
    display: flex;
}

#tel{

    width: 95%;
    font-family: "Poppins", sans-serif;
    border-radius: 3px;
    border-width: 2px;
    border-color: #1A3E5A;
    font-weight: normal;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.651);
    margin-bottom: 1rem;
}

  